.header
	.header__logo
		h1
			a(href="/")
				img(src='/public/assets/imgs/logo/casamestra.svg')
	.header__nav
		nav
			ul(class='nav')
				li
					a(href="/comprar") Comprar
				li 
					a(href="/alugar") Alugar
				li
					a(href="/vender") Vender
			ul(class='nav-signin')
				li
					a(href="#" class="btn-rounded") Entrar
				li
					a(href="#" class="btn-rounded") Cadastrar