.header
	.header__logo
		h1
			a(href="/")
				img(src='/public/assets/imgs/logo/casamestra.svg')
	.header__nav
		nav
			ul(class='nav')
				li
					a(href="/busca/comprar" class=(activePage === 'buy' ? 'active' : '')) Comprar
				li 
					a(href="/busca/alugar" class=(activePage === 'rent' ? 'active' : '')) Alugar
				li
					a(href="/vender") Vender
				li
					a(href='/vizinhanca') Vizinhança
			ul(class='nav-signin')
				li
					a(href="#" class="btn-rounded") Entrar
				li
					a(href="#" class="btn-rounded") Cadastrar