extends base

block content
	header(class='header--transparent')
		include components/header
	main
		include sections/search
		include sections/exclusives
		include sections/about
		include sections/neighborhoods
	include components/footer
