extends base

block content
	.wrapper
		header !{headerRender}
		main
			include sections/search
			include sections/exclusives
			include sections/about
			include sections/neighborhoods
		include components/footer
