.c-about {
	padding: 3% 0;
}

.c-about__header {
	max-width: 60%;
	margin: 0 auto 30px auto;

	.title,
	.subtitle {
		margin: 0;
		text-align: center;
	}

	.title {
		margin-bottom: 20px;
		color: $master;
		@extend %f30;
		@extend %f-light;

		@include breakpoint(from-xlarge) {
			font-size: 3.5em;
		}
	}

	.subtitle {
		color: #A7A5A5;
		line-height: 30px;
		@extend %f12;
		@extend %f-light;

		@include breakpoint(from-xlarge) {
			font-size: 1.5em;
		}
	}
}

.c-about__actions {
	margin: 40px 0 5px;
	text-align: center;

	@extend .clearfix;

	button {
		display: inline-block;
		border: 1px solid #ccc;
		text-align: center;
		color: $master;
		background-color: transparent;
		min-width: 350px;
		padding: 1em 0;

		@extend %f-light;
		@extend %f14;

		+ button {
			margin-left: -1px;
		}
	}

	.active {
		background-color: $master;
		color: #fff;
	}
}

.c-about__buyer,
.c-about__seller {
	display: none;

	&.active {
		display: block;
	}
}

.c-about__buyer__app {
	border-bottom: 1px solid #E4E4E4;
	@extend .clearfix;

	.c-about__buyer__app__content,
	.c-about__buyer__app__media {
		@extend .small-6;
		@extend .columns;
	}

	.c-about__buyer__app__content {
		text-align: center;
		margin-top: 17%;

		.title,
		.subtitle {
			text-align: center;
		}
		.title {
			color: $master;
			line-height: 40px;

			@extend %f-light;
			@extend %f25;

			@include breakpoint(large) {
				font-size: 2em;
			}
		}
		.text {
			color: #989A9A;
			line-height: 25px;
			@extend %f-regular;
			@extend %f13;

			@include breakpoint(large) {
				font-size: 1em;
			}
		}

		a, button {
			padding: 1.2em 0;
			display: inline-block;
			min-width: 400px;
			margin: 20px;

			@extend %f12;
		}
	}

	.c-about__buyer__app__media {
		max-height: 650px;
		overflow: hidden;
		img {
			margin: -25px 0 0 80px;
		}
	}
}

.c-about__buyer__agent {
	padding: 3em 0 0;
	@extend .clearfix;
	@extend .row;

	.c-about__buyer__agent__content {
		padding: 6em 2em 0 2em;

		@extend .small-6;
		@extend .columns;

		@include breakpoint(large) {
			padding: 2em 2em 0 2em;
		}
	}
	.c-about__buyer__agent__media {
		padding-left: 0;

		@extend .small-6;
		@extend .columns;
	}

	.c-about__buyer__agent__content {
		text-align: center;

		.title,
		.subtitle {
			text-align: center;
		}
		.title {
			color: $master;
			line-height: 40px;

			@extend %f-light;
			@extend %f25;

			@include breakpoint(large) {
				font-size: 2em;
			}
		}
		.text {
			color: #989A9A;
			line-height: 25px;
			@extend %f-regular;
			@extend %f13;

			@include breakpoint(large) {
				font-size: 1em;
			}
		}

		a, button {
			padding: 1.2em 0;
			display: inline-block;
			min-width: 320px;
			margin: 20px;

			@extend %f12;
		}
	}
}
