header {
	position: relative;
	background-color: $master;
	top: 0;
	  width: 100%;
	  z-index: 100;
}

.header--transparent {
	position: absolute;
	top: 0;
	background-color: transparent;
}

.c-header {
	padding: 0 1%;
	border-bottom: 1px solid #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	max-height: 100px;
	@extend .clearfix;
}

.c-header__logo {
	float: left;
	padding: 34px 0;

	h1 {
		margin: 0;
		  font-size: 0;
	}

	img {
		max-width: 200px;
	}
}

.c-header__nav {
	float: right;

	nav {
		@extend .clearfix;
	}

	ul {
		list-style: none;
		padding: 0;
		  margin: 0;
		  float: left;
		@extend .clearfix;
	}
}

.nav {

	li {
		transition: border-color 0.3s ease 0s;
		display: inline-block;
	}

	.no-grafism {
		&:before,
		&:after {
			display: none;
		}
	}

	a {
		color: #fff;
		text-decoration: none;
		letter-spacing: 1px;
		display: block;
		padding: 38px 1.5em;
		border-top: 2px solid transparent;
		border-bottom: 2px solid transparent;
		transition: border-color 0.5s ease;
		line-height: 1.4em;

		@extend %f9;
		@extend %f-regular;

		&:hover {
			border-bottom-color: $green;
			@include opacity(8);
		}
	}

	a.active {
		border-bottom-color: $green;
	}
}

ul.nav-signin {
	margin: 32px 0 0 1em;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	padding: 6px 1em 6px 2em;

	li {
		display: inline-block;
	}

	a {
		color: #fff;
		text-decoration: none;
		letter-spacing: 1px;
		display: block;
		border-top: 2px solid transparent;
		border-bottom: 2px solid transparent;
		transition: border-color 0.5s ease;
		line-height: 1.4em;

		@extend %f9;
		@extend %f-regular;

		&:hover {
			@include opacity(8);
		}
	}
}
