header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 3%;
	background-color: #fff;
	z-index: 100;
}

.c-header {
	position: relative;
	border-bottom: 1px solid #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	max-height: 100px;
	text-align: center;
	@extend .clearfix;
}

.c-header__logo {
	position: absolute;
	left: 0;
	padding: 34px 0;

	h1 {
		margin: 0;
		  font-size: 0;
	}

	img {
		max-width: 200px;
	}
}

.c-header__nav {
	display: inline-block;

	nav {
		@extend .clearfix;
	}

	ul {
		list-style: none;
		padding: 0;
		  margin: 0;
		  float: left;
		@extend .clearfix;
	}
}

.nav {

	li {
		transition: border-color 0.3s ease 0s;
		display: inline-block;
	}

	a {
		position: relative;
		color: $master;
		text-decoration: none;
		letter-spacing: 1px;
		display: block;
		padding: 38px 1.5em 39px;
		transition: border-color 0.5s ease;
		line-height: 1.4em;

		@extend %f10;
		@extend %f-bold;

		&:hover {
			@include opacity(8);
			&:before {
				background-color: $green;
			}
		}

		&:before {
			content: '';
			width: 70%;
			height: 1px;
			background: transparent;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -0.5px 0 0 -35%;
		}
	}

	a.active {
		&:before {
			background-color: $green;
		}
	}
}

ul.nav-signin {
	margin: 34px 0 0 1em;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	padding: 6px 1em 6px 2em;

	li {
		display: inline-block;
	}

	a {
		color: $master;
		text-decoration: none;
		letter-spacing: 1px;
		display: block;
		border-top: 2px solid transparent;
		border-bottom: 2px solid transparent;
		transition: border-color 0.5s ease;
		line-height: 1.4em;

		@extend %f10;
		@extend %f-bold;

		&:hover {
			@include opacity(8);
		}
	}
}
