.c-neighborhood {
	padding: 3% 0 4%;
	background-color: #F8F9F9;
}

.c-neighborhood__header {
	max-width: 60%;
	margin: 0 auto 60px auto;

	.title,
	.subtitle {
		margin: 0;
		text-align: center;
	}

	.title {
		margin-bottom: 20px;
		color: $master;
		@extend %f35;
		@extend %f-light;
	}

	.subtitle {
		color: #A7A5A5;
		line-height: 30px;
		@extend %f15;
		@extend %f-light;
	}
}

.c-neighborhood__area {
	position: relative;

	@extend .small-6;
	@extend .columns;

	a {
		position: relative;
		display: block;
		width: 100%;

		&:hover {
			.c-neighborhood__area__action {
				height: 50px;

				&:before {
					left: 20px;
				}

				&:after {
					left: 69px;
				}
			}
		}
	}
}

.c-neighborhood__area__image {
	height: 450px;
	overflow: hidden;

	@include vendor(filter, brightness(0.8));

	img {
		width: 100%;
	}
}

.c-neighborhood__area__info {
	position: absolute;
	top: 0;
	padding: 3em;

	span, .title {
		color: #fff;
	}

	span {
		display: block;
		@extend %f-regular;
		@extend %f18;
	}

	.title {
    	margin: 95px 0 0;
		line-height: 52px;

		@extend %f-regular;
		@extend %f30;
	}
}

.c-neighborhood__area__action {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0;
	background: $green;
	overflow: hidden;

	@include vendor(transition, all 0.3s ease-in-out);

	&:before {
		content: '';
		width: 60px;
		height: 2px;
		background: #fff;
		position: absolute;
		bottom: 23px;
		left: -20px;

		@include vendor(transition, all 0.3s ease-in-out);
	}

	&:after {
		position: absolute;
		display: inline-block;
		content: "";
		width: 12px;
		height: 12px;
		color: #ffffff;
		border-top: 2px solid;
		border-left: 2px solid;
		@include vendor(transform, rotate(135deg));
		bottom: 2px;
		left: -20px;
		margin-bottom: 16px;
		z-index: 10;

		@include vendor(transition, all 0.2s ease-in-out);
	}
}
