.c-neighborhood {
	padding: 3% 0 4%;
	background-color: #F8F9F9;
}

.c-neighborhood__header {
	max-width: 60%;
	margin: 0 auto 50px auto;

	.title,
	.subtitle {
		margin: 0;
		text-align: center;
	}

	.title {
		margin-bottom: 20px;
		color: $master;
		@extend %f30;
		@extend %f-light;

		@include breakpoint(from-xlarge) {
			font-size: 3.5em;
		}
	}

	.subtitle {
		color: #A7A5A5;
		line-height: 30px;
		@extend %f12;
		@extend %f-light;

		@include breakpoint(from-xlarge) {
			font-size: 1.5em;
		}
	}
}
