section(class='c-about')
	.c-about__header(class="divider")
		.row
			h1(class='title') Uma experiencia mais inteligente para todos
			h2(class='subtitle')
				| Compass agents partner with you throughout your home search, providing their expertise and deep knowledge of the New York City real estate market to help you find a home you love.
			.c-about__actions
				button(class='active') Compradores e Inquilinos
				button Vendedores
	.c-about__buyer(class="active")
		.c-about__buyer__app.row
			.c-about__buyer__app__content
				h2(class="title") Comece a sua busca de qualquer lugar
				h3(class="text") Browse thousands of real-time sales and rental listings through our integrated app and website — filtering by the criteria that matter most to you — and connect with your Compass agent to schedule viewings and keep track of all your visits.
				a(href="" class="o-btn o-btn--green") Baixar Aplicativo
			.c-about__buyer__app__media
				img(src="/public/assets/imgs/about/iphone.webp", alt="")
		.c-about__buyer__agent.row
			.c-about__buyer__agent__media
				img(src="/public/assets/imgs/about/casamestra-deal.jpg", alt="")
			.c-about__buyer__agent__content
				h2(class="title") Encontre o corretor mais especializado para te ajudar em tudo
				h3(class="text") Browse thousands of real-time sales and rental listings through our integrated app and website — filtering by the criteria that matter most to you — and connect with your Compass agent to schedule viewings and keep track of all your visits.
				a(href="" class="o-btn o-btn--clean") Nossos Corretores
	.c-about__seller
