section(class='c-about')
	.row
		.c-about__header(class="divider")
			h1(class='title') Uma experiencia mais inteligente para todos
			h2(class='subtitle')
				| Compass agents partner with you throughout your home search, providing their expertise and deep knowledge of the New York City real estate market to help you find a home you love.
			.c-about__actions
				button(class='active') Compradores e Inquilinos
				button Vendedores
