section(class='exclusives')
	.exclusives__header(class="divider")
		h1(class='title')
			| Nossos imóveis exclusivos
		h2(class='subtitle')
			| Compass agents partner with you throughout your home search, providing their expertise and deep knowledge of the New York City real estate market to help you find a home you love.
	.exclusives__estates
		.row
			.estate__column
				.o-estate.o-estate--big
					.o-estate__wrap
						a(href='' style='background-image: url("public/assets/imgs/e2.jpg")')
							.o-estate__about
								.o-estate__about__address
									span Savassi
									span Avenida Getulio Vargas, 3300
								ul.o-estate__about__info
									li
										span 123123
									li.icon.icon-area
										span 2
									li.icon.icon-park
										span 2
									li.icon.icon-beds
										span 2
									li.icon.icon-bath
										span 5
			.estate__column
				.o-estate
					.o-estate__wrap
						a(href='' style='background-image: url("public/assets/imgs/e3.jpg")')
							.o-estate__about
								.o-estate__about__address
									span Savassi
									span Avenida Getulio Vargas, 3300
								ul.o-estate__about__info
									li
										span 123123
									li.icon.icon-area
										span 2
									li.icon.icon-park
										span 2
									li.icon.icon-beds
										span 2
									li.icon.icon-bath
										span 5
				.o-estate
					.o-estate__wrap
						a(href='' style='background-image: url("public/assets/imgs/e4.jpg")')
							.o-estate__about
								.o-estate__about__address
									span Savassi
									span Avenida Getulio Vargas, 3300
								ul.o-estate__about__info
									li
										span 123123
									li.icon.icon-area
										span 2
									li.icon.icon-park
										span 2
									li.icon.icon-beds
										span 2
									li.icon.icon-bath
										span 5
			.estate__column
				.o-estate.o-estate--big
					.o-estate__wrap
						a(href='' style='background-image: url("public/assets/imgs/e1.jpg")')
							.o-estate__about
								.o-estate__about__address
									span Savassi
									span Avenida Getulio Vargas, 3300
								ul.o-estate__about__info
									li
										span 123123
									li.icon.icon-area
										span 2
									li.icon.icon-park
										span 2
									li.icon.icon-beds
										span 2
									li.icon.icon-bath
										span 5
