section(class='c-neighborhood')
	.c-neighborhood__header
		h1(class='title')
			| Guia de Vizinhanças
		h2(class='subtitle')
			| Compass agents partner with you throughout your home search, providing their expertise and deep knowledge of the New York City real estate market to help you find a home you love.
	.row
		.c-neighborhood__area
			a(href="" style="background-image: url('/public/assets/imgs/neighborhoods/cm-bh-cover.jpg')")
				.c-neighborhood__area__info
					span Belo Horizonte
					h2(class="title") Conheçca melhor a 
						br 
						| vizinhança de 
						br
						| Belo Horizonte
				.c-neighborhood__area__action
		.c-neighborhood__area
			a(href="" style="background-image: url('/public/assets/imgs/neighborhoods/cm-nl-cover.jpg')")
				.c-neighborhood__area__info
					span Nova Lima
					h2(class="title") Conheçca melhor a 
						br 
						| vizinhança de 
						br
						| Nova Lima
				.c-neighborhood__area__action
