section(class='neighborhoods')
	.neighborhoods__header(class="divider")
		h1(class='title')
			| Guia de Vizinhanças
		h2(class='subtitle')
			| Compass agents partner with you throughout your home search, providing their expertise and deep knowledge of the New York City real estate market to help you find a home you love.
	.neighborhoods__bx
		.neighborhoods__bx__city
			.neighborhoods__bx__city__container
				.neighborhoods__name
					span.name Savassi
					a(href='' class='link') Conheça melhor a sua vizinhança
		.neighborhoods__bx__map
			.neighborhoods__bx__map__container