section(class='c-neighborhood')
	.c-neighborhood__header(class="divider")
		h1(class='title')
			| Guia de Vizinhanças
		h2(class='subtitle')
			| Compass agents partner with you throughout your home search, providing their expertise and deep knowledge of the New York City real estate market to help you find a home you love.
	.row
		.c-neighborhood__area
			a(href="")
				.c-neighborhood__area__image
					img(src="/public/assets/imgs/neighborhoods/cm-bh-cover.jpg", alt="")
				.c-neighborhood__area__info
					span Belo Horizonte
					h2(class="title") Conheçca melhor a vizinhança de Belo Horizonte
				.c-neighborhood__area__action
