section(class='o-search')
	.o-search__container
		h1 
			| Procure. Explore. Decida
			span Encontre um ótimo lugar para viver deve ser fácil

		form
			input(type='text' placeholder='Procure por endereços, vizinhanças e corretores')
			button(type='button' class='search__button')
