section(class='exclusives')
	.exclusives__header(class="divider")
		h1(class='title')
			| Nossos imóveis exclusivos
		h2(class='subtitle')
			| Compass agents partner with you throughout your home search, providing their expertise and deep knowledge of the New York City real estate market to help you find a home you love.
	.exclusives__estates(class='estate-container')
		.estate__column
			a(class='estate estate--big' style='background-image: url("public/assets/imgs/e1.jpg")')
				.estate__address
					span(class='neighborhood') Nova Pampulha
					span(class='address') Avenida Getulio Vargas, 876
				.estate__info
					ul 
						li(class='icon icon-area')
							span 1000m² 
						li(class='icon icon-beds')
							span 2
						li(class='icon icon-bath')
							span 5
						li(class='icon icon-price')
							span R$ 1.500.000.00

		.estate__column
			a(class='estate' style='background-image: url("public/assets/imgs/e2.jpg")')
				.estate__address
					span(class='neighborhood') Nova Pampulha
					span(class='address') Avenida Getulio Vargas, 876
				.estate__info
					ul 
						li(class='icon icon-area')
							span 1000m² 
						li(class='icon icon-beds')
							span 2
						li(class='icon icon-bath')
							span 5
						li(class='icon icon-price')
							span R$ 1.500.000.00
			a(class='estate' style='background-image: url("public/assets/imgs/e3.jpg")')
				.estate__address
					span(class='neighborhood') Savassi
					span(class='address') Avenida Getulio Vargas, 876
				.estate__info
					ul 
						li(class='icon icon-area')
							span 1000m² 
						li(class='icon icon-beds')
							span 2
						li(class='icon icon-bath')
							span 5
						li(class='icon icon-price')
							span R$ 1.500.000.00
		.estate__column
			a(class='estate estate--big' style='background-image: url("public/assets/imgs/e4.jpg")')
				.estate__address
					span(class='neighborhood') Nova Gameleira
					span(class='address') Avenida Getulio Vargas, 876
				.estate__info
					ul 
						li(class='icon icon-area')
							span 1000m² 
						li(class='icon icon-beds')
							span 2
						li(class='icon icon-bath')
							span 5
						li(class='icon icon-price')
							span R$ 1.500.000.00