footer
	.footer
		.footer__bx
			.footer__bx__nav
				ul
					li
						a(href="#") Sobre
					li
						a(href="#") Equipe
					li
						a(href="#") Guia de Vizinhanças
					li
						a(href="#") Investidores
					li
						a(href="#") Contato
			.footer__bx__address
				.address
					span.title Matriz
					ul
						li Rodovia MG030, 3300
						li Nova Lima, MG
						li 34000.000
					button(type='phone') +55 31 3581-8181

				.address
					span.title Filial 01
					ul
						
						li Rodovia MG030, 3300
						li Nova Lima, MG
						li 34000.000
					button(type='phone') +55 31 3581-8181
		.footer__bx__copyright
			.footer__bx__copyright__logo
				img(src='public/assets/imgs/logo/casamestra-footer.png', alt='')
			.footer__bx__copyright__text
				span Terms & Conditions and Privacy Policy
				span © Casa mestra. All Rights Reserved. 2012-2015 · Made In BR
			.footer__bx__copyright__app
				a(href='')
					img(src='public/assets/imgs/footer/apple-casamestra.svg')