header
	.header
		.header__logo
		.header__nav
			nav
				ul(clas='nav')
					li
						a(href="#") Comprar
					li
						a(href="#") Vender
					li 
						a(href="#") Alugar
					li
						a(href="#") Corretores
					li
						a(href="#") Guia de Vizinhanças