header
	.header
		.header__logo
			h1
				a
					img(src='public/assets/imgs/logo/logo.png')
		.header__nav
			nav
				ul(clas='nav')
					li
						a(href="#") Comprar
					li
						a(href="#") Vender
					li 
						a(href="#") Alugar
					li
						a(href="#") Corretores
					li
						a(href="#") Guia de Vizinhanças
					li(class='no-grafism')
						a(href="#" class="btn-rounded") Entrar
					li(class='no-grafism')
						a(href="#" class="btn-rounded") Cadastrar