header
	.header
		.header__logo
			h1
				a
					img(src='public/assets/imgs/logo/casamestra.svg')
		.header__nav
			nav
				ul(class='nav')
					li
						a(href="#") Comprar
					li
						a(href="#") Vender
					li 
						a(href="#") Alugar
				ul(class='nav-signin')
					li
						a(href="#" class="btn-rounded") Entrar
					li
						a(href="#" class="btn-rounded") Cadastrar