.btn {
	border: 1px solid #fff;
	padding: 10px 20px;
	transition: background-color 0.3s ease 0s;
	display: block;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

.btn-green {
	@extend .btn;
	background-color: $green;
}

.btn-dark {
	@extend .btn;
	background-color: $master;
}

.btn-rounded {
	@extend .btn;

	&:hover {
		background-color: $green;
		color: #fff;
	}
}

.select-button {
	position: relative;
	display: inline-block;

	select {
		border: 1px solid $master;
		border: 1px solid rgba(42, 48, 56, 0.11);
		background-color: transparent;
		display: block;
		padding: 10px 3.5em 10px 1.5em;
		color: $master;
		min-height: 46px;
		cursor: pointer;
		@include vendor(transition, border-color 0.2s linear);
		@include vendor(appearance, none);
		@include vendor(border-radius, 0);
		@extend %f-regular;
		@extend %f9;



		&:focus,
		&:active,
		&:hover {
			outline: 0;
		}

		&:hover {
			outline: 0;
			border-color: #AFAAAA;
			color: $master;
		}
	}

	&:before {
		content: '▾';
		position: absolute;
		right: 25px;
		color: $master;
		top: 10px;
	}
}
