.o-estate {
	width: 100%;
	position: relative;
	overflow: hidden;

	.o-estate__wrap {
		position: relative;
		padding-top: 115%;
		width: 100%;

		&:hover {
			.o-estate__action {
				visibility: visible;
				@include opacity(10);
			}

			.estate__address {
				visibility: visible;
			}

			.o-estate__like {
				display: block;
			}
		}
	}
}

.o-estate__action {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.80);
	z-index: 3;
	visibility: hidden;

	@include opacity(0);
	@include vendor(transition, opacity 0.3s ease-out);

	a {
		position: absolute;
		width: 60%;
		border: 2px solid $master;
		color: $master;
		text-align: center;
		padding: 0.7em;
		margin: -0.5em 0 0 -30%;
		top: 50%;
		left: 50%;

		@extend %f-regular;
		@extend %f12;
		@include vendor(transition, background-color 0.5s ease-out);

		&:hover {
			background-color: $master;
			color: #fff;
			text-decoration: none;
		}
	}
}

.o-estate__image {
	height: 67%;
	overflow: hidden;
	background-size: cover;
	position: absolute;
	top: 0;
	width: 100%;

	img {
		display: none;
	}
}

.o-estate__about {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	background: #fff;
	z-index: 2;
	padding: 6%;
	height: 33%;
}

.o-estate__about__address {
	margin-bottom: 10px;
	span {
		display: block;
		color: $master;
		text-align: left;
		margin-bottom: 1px;
		@extend %f10;
		@extend %f-bold;
	}

	span + span {
		@extend %f-regular;
	}
}

.o-estate__about__info {

	padding: 0;
	margin: 0;
	list-style: none;
	@extend .clearfix;

	li {
		position: relative;
		float: right;
		min-width: 35px;

		span {
			color: $master;
			display: block;
		}

		span {
			@extend %f8;
			@extend %f-regular;
		}

		&:first-child {
			float: left;
			margin-top: 15px;

			span {
				@extend %f10;
				@extend %f-bold;
			}
		}
	}

	.icon span:before {
		content: '';
		display: block;
		margin: 0 auto 5px;
		min-height: 15px;
	}
}

.o-estate__like {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 4;

	button {
		border: none;
		background-color: transparent;
		color: #fff;
		margin: 0;
		padding: 0;
		@extend %f20;
		@include opacity(7);

		&:hover {
			@include opacity(10);

			.like--fill {
				fill: $green;
			}

			.like--stroke {
				fill: #fff;
			}
		}
	}

	svg {
		width: 30px;
	}

	.like--fill {
		fill: #fff;
	}

	.like--stroke {
		fill: $master;
	}
}

.icon-area span:before {
	@extend .sprite-square;
}
.icon-beds span:before {
	margin-top: 3px;
	@extend .sprite-bed;
}
.icon-bath span:before {
	@extend .sprite-bath;
}

.icon-park span:before {
	@extend .sprite-park;
}
