.o-estate {
	width: 100%;
	position: relative;
	overflow: hidden;

	.o-estate__wrap {
		position: relative;
		padding-top: 115%;
		width: 100%;

		&:hover {
			a:before {
				visibility: visible;
			}

			.estate__address {
				visibility: visible;
			}

			.o-estate__like {
				display: block;
			}
		}
	}

	a {
		position: absolute;
		display: block;
		background-size: cover;
		text-decoration: none;
		height: 100%;
		background-color: #fff;
		text-align: center;
		top: 0;
		width: 100%;

		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 67%;
			background-color: #000;
			background-color: rgba(0, 0, 0, 0.40);
			top: 0;
			left: 0;
			z-index: 3;
			visibility: hidden;
		}
	}
}

.o-estate__image {
	height: 67%;
	overflow: hidden;
	background-size: cover;

	img {
		display: none;
	}
}

.o-estate__about {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	background: #fff;
	z-index: 2;
	padding: 6%;
	height: 33%;
}

.o-estate__about__address {
	margin-bottom: 10px;
	span {
		display: block;
		color: $master;
		text-align: left;
		margin-bottom: 1px;
		@extend %f10;
		@extend %f-bold;
	}

	span + span {
		@extend %f-regular;
	}
}

.o-estate__about__info {

	padding: 0;
	margin: 0;
	list-style: none;
	@extend .clearfix;

	li {
		position: relative;
		float: right;
		min-width: 35px;

		span {
			color: $master;
			display: block;
		}

		span {
			@extend %f8;
			@extend %f-regular;
		}

		&:first-child {
			float: left;
			margin-top: 17px;

			span {
				@extend %f10;
				@extend %f-bold;
			}
		}
	}

	.icon span:before {
		content: '';
		display: block;
		margin: 0 auto 5px;
		min-height: 15px;
	}
}

.o-estate__like {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 4;

	button {
		border: none;
		background-color: transparent;
		color: #fff;
		margin: 0;
		padding: 0;
		@extend %f20;
		@include opacity(7);

		&:hover {
			@include opacity(10);

			.like--fill {
				fill: $green;
			}

			.like--stroke {
				fill: #fff;
			}
		}
	}

	svg {
		width: 30px;
	}

	.like--fill {
		fill: #fff;
	}

	.like--stroke {
		fill: $master;
	}
}

.icon-area span:before {
	@extend .sprite-square;
}
.icon-beds span:before {
	margin-top: 3px;
	@extend .sprite-bed;
}
.icon-bath span:before {
	@extend .sprite-bath;
}

.icon-park span:before {
	@extend .sprite-park;
}
