.o-estate {
	width: 100%;
	position: relative;
	overflow: hidden;

	@extend .columns;

	.o-estate__wrap {
		position: relative;
		padding-top: 100%;
		width: 100%;
	}

	a {
		position: absolute;
		display: block;
		background-size: cover;
		text-decoration: none;
		height: 100%;
		background-color: #fff;
		text-align: center;
		top: 0;
		width: 100%;

		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #000;
			background-color: rgba(0, 0, 0, 0.40);
			top: 0;
			left: 0;
			z-index: 1;
			visibility: hidden;
		}

		&:hover {
			&:before {
				visibility: visible;
			}

			.estate__address {
				visibility: visible;
			}
		}
	}
}

.o-estate__about {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	background: #fff;
	z-index: 2;
	padding: 10px;
}

.o-estate__about__address {
	margin-bottom: 10px;
	span {
		display: block;
		color: $master;
		text-align: left;
		@extend %f9;
		@extend %f-bold;
	}

	span + span {
		@extend %f-regular;
	}
}

.o-estate__about__info {

	padding: 0;
	margin: 0;
	list-style: none;
	@extend .clearfix;

	li {
		position: relative;
		float: right;
		min-width: 35px;

		span {
			color: $master;
			display: block;
		}

		span {
			@extend %f8;
			@extend %f-regular;
		}

		&:first-child {
			float: left;
			margin-top: 19px;

			span {
				@extend %f9;
				@extend %f-bold;
			}
		}
	}

	.icon span:before {
		content: '';
		display: block;
		margin: 0 auto 5px;
		min-height: 15px;
	}
}

.icon-area span:before {
	@extend .sprite-square;
}
.icon-beds span:before {
	margin-top: 3px;
	@extend .sprite-bed;
}
.icon-bath span:before {
	@extend .sprite-bath;
}

.icon-park span:before {
	@extend .sprite-park;
}
