.o-filter {
	float: left;
	margin-left: 1em;

	&:first-child {
		margin-left: 0;
	}

	> input,
	> select,
	> button,
	> a {
		border: 1px solid #e1e1e1;
		background-color: transparent;
		display: block;
		padding: 10px 1.5em;
		color: $master;
		height: 46px;
		@include vendor(transition, border-color 0.2s linear);

		@extend %f-regular;
		@extend %f9;

		&:focus,
		&:hover {
			outline: 0;
			border-color: #AFAAAA;
			color: $master;
		}
	}

	.map-icon {
		border-left: none;
	}
}

.o-filter__bedrooms,
.o-filter__bathrooms,
.o-filter__garages {
	min-width: 263px;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		padding: 0.5em 0;
		@extend .clearfix;
	}

	li {
		float: left;
	}

	button {
		background-color: transparent;
		border: none;
		padding: 6px 20px;
		border-left: 1px solid #EAEAEA;
		color: #C1C1C1;

		&:focus,
		&:active {
			outline: 0;
		}

		&:hover {
			color: $master;
		}

		@extend %f-regular;
		@extend %f10;
	}

	button.active {
		color: $master;
	}

	li:first-child {
		button {
			border-left: none;
		}
	}
}

.o-filter__price {
	padding: 0.5em;
	@extend .clearfix;
	input, span {
		display: inline-block;
		float: left;
	}

	input {
		width: 100px;
		padding: 10px;
		border: none;
		text-align: center;
		width: 50%;
		@extend %f-regular;
		@extend %f8;

		&:focus,
		&:active {
			outline: 0;
		}

		&:first-child {
			border-right: 1px solid #EAEAEA;
		}
	}

	span {
		display: inline-block;
		margin: 10px 15px;
		color: $master;
		@extend %f-regular;
		@extend %f8;
	}
}

.o-filter__more {
	min-width: 750px;
	left: -95px;

	@extend .clearfix;

	.o-filter__column {
		width: 50%;
		float: left;

		&:first-child {
			border-right: 1px solid #EAEAEA;
		}
	}

	.o-filter__column__bx {
		border-top: 1px solid #EAEAEA;
		padding: 1em;

		&:first-child {
			border-top: none;
		}

		.title {
			color: $master;
			display: block;
			margin-bottom: 10px;

			@extend %f-bold;
			@extend %f9;
		}

		.check-list {
			list-style: none;
			margin: 0;
			padding: 0;
			@extend .clearfix;

			li {
				width: 50%;
				display: block;
				float: left;
				margin: 3px 0;

				input {
					display: inline-block;
					margin-right: 10px;
				}

				label {
					color: $master;

					@extend %f-regular;
					@extend %f9;
				}
			}
		}
	}
}

.o-filter--right {
	float: right;
	margin: 0;

	button {
		padding: 10px 5px;
	}
}

.o-filter--alert {
	position: relative;
	margin-right: 1em;

	&:hover {
		overflow: visible;

		p {
			@include opacity(10);
		}
	}

	> button {
		color: $master;
		padding: 10px 20px;
		line-height: 20px;
		min-width: 147px;

		@extend %f-regular;
		@extend %f10;
		@extend %font-config;

		&:hover {
			background: $green;
			color: #fff;
			border-color: #06AEB5;
			@extend %f-bold;
		}

		&:before {
			display: block;
			float: left;
			font-size: 1.3em;
			margin: 1px 5px 0 0;
			@extend .pe-7s-bell;
		}
	}
}

.o-filter__alert {
	padding: 1em;
	right: 0;

	.title {
		display: block;
		margin-bottom: 15px;
		color: #7D7D7D;
		@extend %f-regular;
		@extend %f10;
	}

	.neighborhoods {
		display: block;
		margin-bottom: 15px;
		color: $master;
		border-bottom: 1px solid #EAEAEA;
		padding-bottom: 15px;
		line-height: 30px;
		@extend %f-bold;
		@extend %f20;
	}

	ul {
		list-style-type: none;
		list-style-position: inside;
		padding: 0;
		margin: 0;
	}

	li {
		color: $master;
		margin: 5px 0;

		@extend %f-regular;
		@extend %f9;

		span {
			display: inline-block;
			min-width: 70px;
		}

		b {
			color: #908F8F;
		}
	}

	.o-filter__alert__action {
		margin-top: 30px;

		button {
			width: 100%;

			@extend %f12;
			@extend %f-regular;
		}
	}
}
