.o-filter {
	margin-top: 30px;

	&:first-child {
		margin-top: 0;
	}

	.title,
	.title--result {
		display: block;
	}

	.title {
		background-color: transparent;
		display: block;
		color: $master;
		margin-bottom: 5px;
		@include vendor(transition, border-color 0.2s linear);

		@extend %f-bold;
		@extend %f10;
	}

	.title--result {
		margin-bottom: 20px;
		@extend %f-regular;
		@extend %f9;
	}
}

.o-filter__bedrooms,
.o-filter__bathrooms,
.o-filter__garages {
	min-width: 263px;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		padding: 0.5em 0;
		@extend .clearfix;
	}

	li {
		float: left;
	}

	button {
		background-color: transparent;
		border: none;
		padding: 6px 20px;
		border-left: 1px solid #EAEAEA;
		color: #C1C1C1;

		&:focus,
		&:active {
			outline: 0;
		}

		&:hover {
			color: $master;
		}

		@extend %f-regular;
		@extend %f10;
	}

	button.active {
		color: $master;
	}

	li:first-child {
		button {
			border-left: none;
		}
	}
}

.o-filter__price {
	@extend .clearfix;
	input, span {
		display: inline-block;
		float: left;
	}

	input {
		width: 100px;
		padding: 10px;
		border: none;
		text-align: center;
		width: 50%;
		@extend %f-regular;
		@extend %f8;

		&:focus,
		&:active {
			outline: 0;
		}

		&:first-child {
			border-right: 1px solid #EAEAEA;
			text-align: left;
		}
	}

	span {
		display: inline-block;
		margin: 10px 15px;
		color: $master;
		@extend %f-regular;
		@extend %f8;
	}
}

.o-filter__more {
	min-width: 750px;
	left: -95px;

	@extend .clearfix;

	.o-filter__column {
		width: 50%;
		float: left;

		&:first-child {
			border-right: 1px solid #EAEAEA;
		}
	}

	.o-filter__column__bx {
		border-top: 1px solid #EAEAEA;
		padding: 1em;

		&:first-child {
			border-top: none;
		}

		.title {
			color: $master;
			display: block;
			margin-bottom: 10px;

			@extend %f-bold;
			@extend %f9;
		}

		.check-list {
			list-style: none;
			margin: 0;
			padding: 0;
			@extend .clearfix;

			li {
				width: 50%;
				display: block;
				float: left;
				margin: 3px 0;

				input {
					display: inline-block;
					margin-right: 10px;
				}

				label {
					color: $master;

					@extend %f-regular;
					@extend %f9;
				}
			}
		}
	}
}

.o-filter--right {
	float: right;
	margin: 0;

	button {
		padding: 10px 5px;
	}
}
