.o-search {
	position: relative;
	padding: 250px 0 150px 0;
	background-color: #131212;
	width: 100%;
	height: 95vh;

	@include breakpoint(xlarge) {
		padding: 300px 0 200px 0;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('../../imgs/search/cm-home-cover.jpg') no-repeat center;
		filter: brightness(0.9);
		-webkit-filter: brightness(0.9);
	}
}

.o-search__container {
	position: relative;
	width: 70%;
	margin: 0 auto;
	padding: 3.5em;

	&:before,
	&:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	&:before {
		background: url('../../imgs/search/cm-home-cover.jpg') no-repeat center;
		background-position: center -338px;
		@include vendor(filter, blur(10px));
		z-index: 1;
	}

	&:after {
		z-index: 2;
		background-color: #fff;
		@include opacity(6);
	}

	h1, form {
		position: relative;
		z-index: 3;
	}

	h1 {
		color: $master;
		line-height: 0.8em;
		text-align: center;
		margin: 0 0 0.5em 0;
		@extend %f-light;
		@extend %f35;

		span {
			color: #fff;
			display: block;
			margin-top: 20px;
			text-shadow: 0 1px 1px #B4C0C5;
			@extend %f6;
			@extend %f-light;
		}
	}

	form {
		position: relative;
		max-width: 1000px;
		margin: 2em auto auto auto;
	}

	input {
		width: 100%;
		display: block;
		padding: 1.8em 4.5em 1.8em 1.5em;
		border: none;
		color: #fff;
		background-color: #fff;
		text-align: center;

		@extend %f-light;
		@extend %f11;

		&:focus {
			  outline: 0;
		}
	}

	.search__button {
		border: none;
		background-color: transparent;
		position: absolute;
		top: 20px;
		right: 37px;
		@include sprite($search);
		@include opacity(3);

		&:focus {
			outline: 0;
		}
	}
}
