section(class="c-agents")
	.row
		.c-agents__header
			h1(class="title") Corretores representando esse imóvel
			h2(class="subtitle") Compass Agents partner with you throughout your home search, providing their expertise and deep knowledge of NYC's real estate market to help you find a home you love.
		.c-agents__items
				.o-agent
					.o-agent__image
						img(src="https://d2787ndpv5cwhz.cloudfront.net/e6ba06029a29bf8452206d8012da4a78057e6bcb/300x300.jpg", alt="")
					.o-agent__about
						h3 Kaitlin Adams
						span.email ka@compass.com
						span.phone 858.945.2489
				.o-agent
					.o-agent__image
						img(src="http://urbancompass-image-index.s3.amazonaws.com/a69cf98b2ee0d9830f1eb6653007f7f6408fc643.jpg", alt="")
					.o-agent__about
						h3 Kaitlin Adams
						span.email ka@compass.com
						span.phone 858.945.2489
				.o-agent
					.o-agent__image
						img(src="https://d2787ndpv5cwhz.cloudfront.net/e6ba06029a29bf8452206d8012da4a78057e6bcb/300x300.jpg", alt="")
					.o-agent__about
						h3 Kaitlin Adams
						span.email ka@compass.com
						span.phone 858.945.2489
				.o-agent
					.o-agent__image
						img(src="http://urbancompass-image-index.s3.amazonaws.com/27de938dd3acc765947ff28fc472030efe39db9f.jpg", alt="")
					.o-agent__about
						h3 Kaitlin Adams
						span.email ka@compass.com
						span.phone 858.945.2489
