section(class="c-gallery")
	.c-gallery__images
		img(src='https://d2787ndpv5cwhz.cloudfront.net/690665e9d6faa83679d00ecd52aeb46a4f0c68a5/640x480.jpg', alt="" style='height: 450px;')
		img(src='https://d2787ndpv5cwhz.cloudfront.net/328437446971ede38246b83efef9b6d8025442dd/640x480.jpg', alt="" style='height: 450px;')
		img(src='https://urbancompass-image-index.s3.amazonaws.com/0d2ee1b2af2f9df581aeb4ebefb4f0fda4f2283a.jpg', alt="" style='height: 450px;')
	.pswp(clas='pswp--svg' tabindex='-1', role='dialog', aria-hidden='true')
		.pswp__bg
		.pswp__scroll-wrap
			.pswp__container
				.pswp__item
				.pswp__item
				.pswp__item
			.pswp__ui(class='pswp__ui--hidden')
				.pswp__top-bar
					.pswp__counter
					button.pswp__button.pswp__button--close(title='Close (Esc)')
					button.pswp__button.pswp__button--share(title='Share')
					button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
					button.pswp__button.pswp__button--zoom(title='Zoom in/out')

					.pswp__preloader
						.pswp__preloader__icn
							.pswp__preloader__cut
								.pswp__preloader__donut
				.pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
				.pswp__share-tooltip
				button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
				button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
				.pswp__caption
					.pswp__caption__center
