section(class="c-neighborhood")
	.row
		.c-neighborhood__header
			h1(class="title") Vizinhança 
				span (#{keyDetails.neighborhood})
			h2(class="subtitle") Compass Agents partner with you throughout your home search, providing their expertise and deep knowledge of NYC's real estate market to help you find a home you love.
		.row
			.c-neighborhood__area
				.c-neighborhood__area__image
					img(src="https://images.contentful.com/ypfe9l9zihcg/7MxWv8WBoc4iQokAIoqiwk/3929f5c1357a78488bf2f6b87bb1004f/Park_Slope_Park_Slope_hero_Thumb-Large.jpg", alt="")
				.c-neighborhood__area__info
					span.title= keyDetails.neighborhood
					span.subtitle Saiba mais sobre essa vizinhança
			
				
