section(class='about')
	.about__header(class="divider")
		h1(class='title')
			| Uma experiencia mais inteligente
			br
			| para compradores, vendedores e inquilinos
		h2(class='subtitle')
			| Compass agents partner with you throughout your home search, providing their expertise and deep knowledge of the New York City real estate market to help you find a home you love.
	.about__container
		.about__bx
			span(class='about__bx__title') Compradores / Inquilinos
			.about__bx__area
				h3(class='title') Comece a sua busca de qualquer lugar
				p(class='text')
					| Browse thousands of real-time sales and rental listings through our integrated app and website — filtering by the criteria that matter most to you — and connect with your Compass agent to schedule viewings and keep track of all your visits.
				a(class='link btn-rounded' href='') Baixe o nosso app
			.about__bx__action
				.area
					button
						span(class='next-icon')
				.area
					button
						span(class='prev-icon')
		.about__bx
			span(class='about__bx__title') Vendedores
			.about__bx__area
				h3(class='title') Comece a sua busca de qualquer lugar
				p(class='text')
					| Compass matches you with an expert who knows the nuances of your neighborhood and has a track record for selling properties similar to your home.
				a(class='link btn-rounded' href='') Conheça nossos corretores
			.about__bx__action
				.area
					button
						span(class='next-icon')
				.area
					button
						span(class='prev-icon')