section(class='about')
	.about__header(class="divider")
		h1(class='title')
			| Uma experiencia mais inteligente
			br
			| para compradores, vendedores e inquilinos
		h2(class='subtitle')
			| Compass agents partner with you throughout your home search, providing their expertise and deep knowledge of the New York City real estate market to help you find a home you love.
	.about__container
		