section(class='exclusives')
	.exclusives__header(class="divider")
		h1(class='title')
			| Nossos imóveis exclusivos
		h2(class='subtitle')
			| Compass agents partner with you throughout your home search, providing their expertise and deep knowledge of the New York City real estate market to help you find a home you love.
	.exclusives__estates(class='estate-container')

		.estate(class='estate--big')
			a(href="")
				.estate__bx
					.estate__image(style='background-image: url("public/assets/imgs/teste.jpg")')
					.estate__info
						.title SAVASSI
						.price R$ 1.323.421.00
					//- .estate__info__actions
					//- 	.area
					//- 		button(class="favorite-btn")
					//- 	.area
					//- 		span(class='neighborhood') Gameleira
					//- 	.area
					//- 		span(class='bed') 2 QTR
					//- 	.area
					//- 		span(class='bath') 5 BHR
					//- 	.area(class='area--right area--full')
					//- 		span(class='price') R$ 542.230.00
		.estate(class='estate--big')
			a(href="")
				.estate__bx
					.estate__image(style='background-image: url("https://d2787ndpv5cwhz.cloudfront.net/f95c10904d8a65cea7bf2de1f2fcb28c799caa08/640x480.jpg")')
					.estate__info
						.title FUNCIONÁRIOS
						.price R$ 1.323.421.00
		.estate(class='estate--big')
			a(href="")
				.estate__bx
					.estate__image(style='background-image: url("https://d2787ndpv5cwhz.cloudfront.net/2c71267513e144fbdf097770fc13d3a9f3e7fbe6/640x480.jpg")')
					.estate__info
						.title SION
						.price R$ 1.323.421.00
		.estate(class='estate--big')
			a(href="")
				.estate__bx
					.estate__image(style='background-image: url("public/assets/imgs/teste.jpg")')
					.estate__info
						.title ALCOBAÇA /BA
						.price R$ 1.323.421.00