.c-agents {

	.c-agents__header {
		max-width: 70%;
		margin: 0 auto 50px auto;

		.title,
		.subtitle {
			margin: 0;
			text-align: center;
		}

		.title {
			margin-bottom: 30px;
			color: $master;
			line-height: 1em;
			@extend %f25;
			@extend %f-bold;
		}

		.subtitle {
			color: $grey;
			@extend %f10;
			@extend %f-regular;
		}
	}
}
