.estates-about {}

.estates-about__header {
	border-bottom: 2px solid #F3F3F3;
	padding: 2em 0;

	@extend .clearfix;
}
.header__about {
	float: left;

	h1, h2 {
		margin: 0;
		display: block;
		color: $master;
	}

	h2 {
		text-transform: capitalize;
		@extend %f-light;
		@extend %f11;
	}

	h1 {
		@extend %f-bold;
		@extend %f20;
	}

	.estate__info {
		background-color: transparent;
		width: 326px;
		position: relative;
		margin: 20px auto auto auto;
		padding: 0;
	}
}

.header__about__info {
	margin-top: 10px;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		@extend .clearfix;
	}

	li {
		float: right;
		margin-left: 20px;

		@extend %f-regular;
		@extend %f10;

		span {
			display: block;
		}
	}

	li:first-child {
		margin: 3px 20px 0 0;
		float: left;
		padding-right: 35px;
		border-right: 1px solid #ccc;

		@extend %f-light;
		@extend %f15;
	}

	.icon span:before {
		content: '';
		display: block;
		margin: 0 auto 3px;
		min-height: 15px;
	}
}

.header__actions {
	float: right;
	margin-top: 23px;

	a {
		text-decoration: none;
		display: block;
		text-align: center;
		width: 300px;
		margin-bottom: 5px;
		padding: 15px 20px;

		@extend %f-regular;
		@extend %f12;
	}

	a + a {
		color: $master;
		padding: 0;

		@extend %f-regular;
		@extend %f10;

		&:hover {
			span {
				text-decoration: underline;
			}
		}

		span{
			display: inline-block;
			@extend %f-bold;
		}
	}
}

.estates-about__content {}

.content {
	border-bottom: 1px solid #F3F3F3;
	padding: 3em 0;
	@extend .clearfix;

	.title {
		color: $master;
		text-align: left;
		margin: 0 0 2em;
		@extend %f-semibold;
		@extend %f16;

		span {
			color: #999;
			display: inline-block;
			margin-left: 10px;
			@extend %f-light;
			@extend %f8;
		}
	}
	.content__area {
		padding: 0 2em;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			@extend .clearfix;
		}

		.styled {
			list-style: disc;
			padding: 0 1em;
		}

		span {
			display: inline-block;
			color: $master;
			@extend %f-regular;
			@extend %f10;

			&:first-child {
				color: $master;
				margin-right: 15px;
				text-align: left;
				min-width: 90px;
				@extend %f-bold;
			}
		}

		li {
			float: left;
			width: 30%;
			margin: 7px 0;
			color: $master;
			@extend %f-regular;
			@extend %f9;
		}

		p {
			margin-top: 15px;
			@extend %f-regular;
			@extend %f9;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}
