.exclusives {
	background-color: #F8F9F9;
	padding: 4% 0 3% 0;
}

.exclusives__header {
	max-width: 60%;
	margin: 0 auto 30px auto;

	.title,
	.subtitle {
		margin: 0;
		text-align: center;
	}

	.title {
		margin-bottom: 20px;
		color: $master;
		@extend %f30;
		@extend %f-light;

		@include breakpoint(from-xlarge) {
			font-size: 3.5em;
		}
	}

	.subtitle {
		color: #A7A5A5;
		line-height: 30px;
		@extend %f12;
		@extend %f-light;

		@include breakpoint(from-xlarge) {
			font-size: 1.5em;
		}
	}
}

.exclusives__estates {
	.estate + .estate {
		margin-top: 30px;
	}
}

.exclusives__estates {
	.estate__column {
		@extend .small-4;
		@extend .columns;

		.o-estate {
			.o-estate__wrap {
				padding-top: 320px;

				@include breakpoint(from-xlarge) {
					padding-top: 340px;
				}
			}
		}

		.o-estate--big {
			.o-estate__wrap {
				padding-top: 670px;

				@include breakpoint(from-xlarge) {
					padding-top: 710px;
				}
			}
		}

		.o-estate + .o-estate {
			margin-top: 30px;
		}

		.o-estate__image {
			height: 86%;
		}
	}
}
