.exclusives {
	background-color: #F8F9F9;
	padding: 4% 0 3% 0;
}

.exclusives__header {
	max-width: 60%;
	margin: 0 auto 60px auto;

	.title,
	.subtitle {
		margin: 0;
		text-align: center;
	}

	.title {
		margin-bottom: 20px;
		color: $master;
		@extend %f35;
		@extend %f-light;
	}

	.subtitle {
		color: #A7A5A5;
		line-height: 30px;
		@extend %f15;
		@extend %f-light;
	}
}

.exclusives__estates {
	.estate + .estate {
		margin-top: 30px;
	}
}

.exclusives__estates {
	.estate__column {
		@extend .small-4;
		@extend .columns;

		.o-estate {
			.o-estate__wrap {
				padding-top: 300px;
			}
		}

		.o-estate--big {
			.o-estate__wrap {
				padding-top: 630px;
			}
		}

		.o-estate + .o-estate {
			margin-top: 30px;
		}
	}
}
