.estates__bx {
	height: -webkit-calc(100% - 80px);
	height: -moz-calc(100% - 80px);
	height: -o-calc(100% - 80px);

	.content {
		height: 100%;
		width: 100%;
	}
}

.list-active {
	.c-search__list {
		display: block;
	}

	.c-search__map {
		display: none;
	}

	.list-icon {
		pointer-events: none;
	}

	.list-icon:before {
		pointer-events: none;
		@include opacity(3);
	}

	.map-icon {
		pointer-events: initial;
	}

	.map-icon:before {
		@include opacity(10);
	}

	.o-pagination {
		@include opacity(10);
	}
}

.map-icon,
.list-icon {
	cursor: pointer;

	@extend %font-config;

	&:before {
		line-height: 25px;
		display: block;
		@include opacity(10);
		@extend %f24;
	}
}

.map-icon {
	pointer-events: none;
}

.map-icon:before {
	@include opacity(3);
	@extend .pe-7s-map;
}

.list-icon:before {
	@extend .pe-7s-menu;
}

.estates__bx__filter.scroll-active {
	position: fixed;
	top: 0;
}

.filter__container {
	padding: 1.5em 0;
	@extend .clearfix;

	.o-filter {
		float: left;
		margin: 0;

		+ .o-filter {
			float: right;
		}
	}
}

.list__container {
	min-height: 600px;
	margin-left: -3%;
	@extend .clearfix;
}
