extends base

block content
	header(class='fixed transparent')
		include includes/header
	main(class='estates__bx')
		#teste
		.estates__bx__filter(data-module='EstatesFilter')
			.filter
				input(type="text" placeholder='Selecione a vizinhança')
			.filter(class='select dropdown')
				button(data-type='dropdown' dropdown-content='.dropdown-content') Quartos
				.dropdown-content(class='filter-bedrooms')
					ul
						li
							button 1
						li
							button 2
						li
							button 3 
						li
							button 4
						li
							button 5+
			.filter(class='select dropdown')
				button(data-type='dropdown' dropdown-content='.dropdown-content') Preço
				.dropdown-content(class='filter-price')
					input(type='text' placeholder='Mínimo')
					input(type='text' placeholder='Máximo')
			.filter(class='select dropdown')
				button(data-type='dropdown' dropdown-content='.dropdown-content') Mais
				.dropdown-content(class='filter-more')
					.filter__column
						.filter__column__bx
							span(class='title') Banheiros
							ul
								li
									input(type='checkbox' id='a')
									label(for='a') Churrasqueira
								li
									input(type='checkbox' id='a')
									label(for='a') Churrasqueira

						.filter__column__bx
							span(class='title') Teste
						.filter__column__bx
							span(class='title') Características
					.filter__column
						.filter__column__bx
							span(class='title') Tipo do Imóvel
							ul
								li
									input(type='checkbox' id='a')
									label(for='a') Casa
								li
									input(type='checkbox' id='a')
									label(for='a') Apartamento
								li
									input(type='checkbox' id='a')
									label(for='a') Lote
								li
									input(type='checkbox' id='a')
									label(for='a') Sítio
			.filter(class='right')
				button(class='map-icon active')
			.filter(class='right')
				button(class='list-icon')
		.estates__bx__map
			#map-canvas1
		.estates__bx__list(data-module='EstatesList' class='active')
			.estates__bx__list__container
				.filter__container
					.filter(class='select')
						.select-button
							select 
								option Filtrar por data 
								option Filtrar por preço - Menor para Maior
								option Filtrar por preço - Maior para Menor
					.filter(class='pagination pagination--text')
						span 1 — 12 de 5670 imóveis
						.pagination__buttons
							button(class='prev')
							button(class='next')
				.list__container(class='render-area')
				.filter__container
					.filter(class='select')
						.select-button
							select 
								option Filtrar por data 
								option Filtrar por preço - Menor para Maior
								option Filtrar por preço - Maior para Menor
					.filter(class='pagination pagination--text')
						span 1 — 12 de 5670 imóveis
						.pagination__buttons
							button(class='prev')
							button(class='next')
			.estates__bx__list__map
				#map-canvas
