extends base

block content
	header(class='transparent')
		include includes/header
	main(data-module='estates' class='estates__bx')
		.estates__bx__filter(data-module='estates.filter')
			.filter
				input(type="text" placeholder='Selecione a vizinhança')
			.filter(class='select dropdown')
				button(class='js-selected-beds' data-type='dropdown' dropdown-content='.dropdown-content') Quartos
				.dropdown-content(class='filter-bedrooms')
					ul
						li
							button(data-type='f-bedrooms' data-value='1') 1
						li
							button(data-type='f-bedrooms' data-value='2') 2
						li
							button(data-type='f-bedrooms' data-value='3') 3 
						li
							button(data-type='f-bedrooms' data-value='4') 4
						li
							button(data-type='f-bedrooms' data-value='5') 5+
			.filter(class='select dropdown')
				button(class='js-selected-price' data-type='dropdown' dropdown-content='.dropdown-content') Preço
				.dropdown-content(class='filter-price')
					input(type='text' placeholder='Mínimo' data-type='f-price' data-value='min')
					input(type='text' placeholder='Máximo' data-type='f-price' data-value='max')
			.filter(class='select dropdown')
				button(class='js-selected-more' data-type='dropdown' dropdown-content='.dropdown-content') Mais
				.dropdown-content(class='filter-more')
					.filter__column
						.filter__column__bx
							span(class='title') Tipo do Imóvel
							ul(class='check-list')
								li
									input(type='checkbox' id='a')
									label(for='a') Casa
								li
									input(type='checkbox' id='a')
									label(for='a') Apartamento
								li
									input(type='checkbox' id='a')
									label(for='a') Lote
								li
									input(type='checkbox' id='a')
									label(for='a') Sítio
						.filter__column__bx
							span(class='title') Banheiros
							.filter-bedrooms
								ul
									li
										button(data-type='f-bathrooms' data-value='1') 1
									li
										button(data-type='f-bathrooms' data-value='2') 2
									li
										button(data-type='f-bathrooms' data-value='3') 3 
									li
										button(data-type='f-bathrooms' data-value='4') 4
									li
										button(data-type='f-bathrooms' data-value='5') 5+
						.filter__column__bx
							span(class='title') Garagens
							.filter-bedrooms
								ul
									li
										button(data-type='f-garages' data-value='1') 1
									li
										button(data-type='f-garages' data-value='2') 2
									li
										button(data-type='f-garages' data-value='3') 3 
									li
										button(data-type='f-garages' data-value='4') 4
									li
										button(data-type='f-garages' data-value='5') 5+
					.filter__column
						.filter__column__bx
							span(class='title') Características
							ul(class='check-list')
								li
									input(type='checkbox' id='a')
									label(for='a') Churrasqueira
								li
									input(type='checkbox' id='a')
									label(for='a') Piscina
								li
									input(type='checkbox' id='a')
									label(for='a') Area de Lazer
								li
									input(type='checkbox' id='a')
									label(for='a') Hidromassagem
						.filter__column__bx
							span(class='title') Animais
							ul(class='check-list')
								li
									input(type='checkbox' id='a')
									label(for='a') Cachorro
								li
									input(type='checkbox' id='a')
									label(for='a') Gatos
						.filter__column__bx
							span(class='title') Banheiros
							ul(class='check-list')
								li
									input(type='checkbox' id='a')
									label(for='a') Churrasqueira
								li
									input(type='checkbox' id='a')
									label(for='a') Churrasqueira
			.filter-content(data-module='estates.view')
				.filter(class='right')
					button(data-type='map' class='map-icon')
				.filter(class='right')
					button(data-type='list' class='list-icon')
		.estates__bx__map(data-module='estates.map')
			#map--big
		.estates__bx__list(data-module='estates.list')
			.estates__bx__list__container
				.filter__container
					.filter(class='select')
						.select-button
							select 
								option Filtrar por data 
								option Filtrar por preço - Menor para Maior
								option Filtrar por preço - Maior para Menor
					.filter(class='pagination pagination--text')
						span(class='js-result-stats') 1 - 12 de 1000 imóveis
						.pagination__buttons
							button(class='prev' data-type='p-prev')
							button(class='next' data-type='p-next')
				.list__container(class='render-area')
				.filter__container
					.filter(class='select')
						.select-button
							select 
								option Filtrar por data 
								option Filtrar por preço - Menor para Maior
								option Filtrar por preço - Maior para Menor
					.filter(class='pagination pagination--text')
						span(class='js-result-stats') 1 - 12 de 1000 imóveis
						.pagination__buttons
							button(class='prev' data-type='p-prev')
							button(class='next' data-type='p-next')
			.estates__bx__list__map
				#map--small
