extends base

block content
	header(class='absolute')
		include includes/header
	main
		include sections/search
		include sections/exclusives
		include sections/neighborhoods
		include sections/green-bar
	include includes/footer